@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;
  font: normal 100%/1.3 sans-serif;
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

/* Home Page */

header {
  display: block;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  color: black;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
}

nav {
  background-color: #8BA9AF;
}

.about {
  background-color: #ECD1BA;
  margin-bottom: 3rem;
}

.emily {
  padding: 1rem;
  padding-bottom: 2rem;
}

.shop-btn {
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  padding: .75rem;
  margin: 0;
  background-color: #8BA9AF;
  color: #fff;
  border-radius: 1em;
}

.banner {
  margin-bottom: 3rem;
  text-align: center;
}

.products {
  width: 100%;
  margin-bottom: 1rem;
}

.artist {
  width: 100%;
}

.logo {
  width: 100%
}

ul {
  padding: 0;
  margin: 0;
}

/* Shop Page */

.column {
  width: 100%;
  float: left;
  padding: 0px 10px;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.store {
  width: 100%;
}

h1 {
  display
}

/* Contact Page */

label {
  display: block;
}

form div {
  margin-bottom: 1.5rem;
}

input {
  font-size: 1.125rem;
}

input {
  font-size: 1.125rem;
  width: 15em;
}

textarea {
  font-size: 1.125rem;
  width: 15em;
  height: 10em;
}

button {
  font-size: 1.125rem;
  padding: 0.5em 0.75em;
  background-color: #FEA500;
  border: 3px solid;
}

nav ul {
  display: flex;
  text-align: center;
  flex-direction: row;
  justify-content: space-around;
}

nav li {
  list-style-type: none;
}

nav a {
  text-decoration: none;
  font-size: 1em;
  color: black;
  max-width: 100%;
  display: inline-block;
  border-radius: 4px;
  font-weight: normal;
  margin: .4em;
}

.background {
  display: block;
  text-align: center;
  background-color: #8BA9AF;
  padding: 1em;
}

main {
  text-align: center;
  padding: 0;
  margin: 1em;
}

nav a:hover {
  background-color: white;
}

@media only screen and (min-width: 25em) {

  html {
    font-size: 120%;
    line-height: normal;
  }

}

@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

  nav ul {
    flex-direction: row;
  }

  nav a {
    padding: .5em 2.5em;
  }

  .about {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .me {
    margin-top: 2rem;
  }

  .emily {
    font-size: .85rem;
    margin: 0.5rem;
  }

  .product {
    display: grid;
    grid-template-areas: ".products .products .products";
    grid-template-columns: 1fr 1fr 1fr;
  }

  .products {
    display: grid;
    margin-bottom: 2rem;
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    max-width: 300px;
    margin: auto;
    background-color: white;
    text-align: center;
    border-top: 40px;
    padding-bottom: 15px;
  }

}

@media only screen and (min-width: 60em) {

  html {
    font-size: 120%;
    line-height: 1.5;
  }

  nav a {
    padding: .5em 4.2em;
  }

}

@media only screen and (min-width: 90em) {

  html {
    font-size: 130%;
  }

  nav a {
    padding: .5em 8em;
  }


}
